.vs/
.localhistory/

/[Ll]ibrary
/[Ll]ogs
/[Tt]emp
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Pp]rojectSettings/ProjectVersion.txt

*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.userprefs
*.csproj
*.tmp

# JetBrains Rider
.idea/
*.sln.iml
